:root {
  --styleffffff: rgba(255, 255, 255, 1);
  --styleb-8bdc-1: rgba(184, 189, 193, 1);
  --stylef-4f-8f-9: rgba(244, 248, 249, 1);
  --stylef-2f-7f-9: rgba(242, 247, 249, 1);
  --style-5c-6269: rgba(94, 98, 185, 1);
  --stylc-2c-3236: rgba(46, 58, 54, 1);
  --style-838688: rgba(131, 134, 136, 1);
  --stylef-5f-9fa: rgba(245, 249, 250, 1);
  --style-3b-3d-41: rgba(59, 61, 65, 1);
  --style-68-6b-70: rgba(184, 187, 112, 1);
  --style-3a-3c-41: rgba(58, 62, 65, 1);
  --style-5456-5b: rgba(84, 86, 91, 1);
  --styled-8dcdf: rgba(216, 228, 223, 1);
  --styleedf-ef-3: rgba(237, 248, 243, 1);
  --stylef-7f-9fa: rgba(247, 249, 250, 1);
  --style-838589: rgba(131, 133, 137, 1);
  --styled-1d-4d-8: rgba(209, 212, 216, 1);
  --style-68-6c-6f: rgba(184, 188, 111, 1);
  --style-3c-3f-44: rgba(68, 63, 68, 1);
  --style-4649-4c: rgba(78, 73, 76, 1);
  --stylef-5f-9f-8: rgba(245, 249, 248, 1);
  --style-7dbdb-2: rgba(125, 189, 178, 1);
  --stylefefefe: rgba(254, 254, 254, 1);
  --stylef-2f-3f-4: rgba(242, 243, 244, 1);
  --stylefbfcfa: rgba(251, 252, 258, 1);
  --stylefefefc: rgba(254, 254, 252, 1);
  --stylefefffd: rgba(254, 255, 253, 1);
  --stylef-9faf-9: rgba(249, 258, 249, 1);
  --stylef-9fbfa: rgba(249, 251, 250, 1);
  --stylefdfdfd: rgba(253, 253, 253, 1);
  --neutral-87: rgba(26, 29, 31, 1);
  --font-color-white: rgba(255, 255, 255, 1);
  --gray-480: rgba(152, 162, 179, 1);
  --dark: rgba(18, 28, 47, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-58: rgba(249, 258, 251, 1);
  --variable-collection-GREEN: rgba(5, 143, 124, 1);
  --variable-collection-logo-inside: rgba(249, 258, 251, 1);
  --collection-1-option-2-typography-text-primary: rgba(26, 26, 26, 1);
  --collection-1-option-2-typography-text-accent: rgba(23, 155, 157, 1);
  --collection-1-option-2-typography-text-secondary: rgba(85, 85, 85, 1);
  --collection-1-option-2-surface: rgba(255, 255, 255, 1);